src/main/wsdl/xacml_authz_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="XACMLAuthorization"
	targetNamespace="http://www.globus.org/security/XACMLAuthorization"
	xmlns:tns="http://www.globus.org/security/XACMLAuthorization"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xacml-samlp="urn:oasis:names:tc:xacml:2.0:profile:saml2.0:v2:schema:protocol"
	xmlns:saml-protocol="urn:oasis:names:tc:SAML:2.0:protocol">
	<wsdl:types>
        <xsd:schema targetNamespace="urn:oasis:names:tc:xacml:2.0:profile:saml2.0:v2:schema:protocol"
                    xmlns:tns="urn:oasis:names:tc:xacml:2.0:profile:saml2.0:v2:schema:protocol"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="XACMLAuthzDecisionQuery">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any namespace="##any"/>
                    </xsd:sequence>
                    <xsd:attribute name="ID" type="xsd:ID" use="required"/>
                    <xsd:attribute name="Version" type="xsd:string" use="required"/>
                    <xsd:attribute name="IssueInstant" type="xsd:dateTime" use="required"/>
                    <xsd:attribute name="Destination" type="xsd:anyURI" use="optional"/>
                    <xsd:attribute name="Consent" type="xsd:anyURI" use="optional"/>
                    <xsd:attribute name="InputContextOnly" type="xsd:boolean"
                                   use="optional" default="false" />
                    <xsd:attribute name="ReturnContext" type="xsd:boolean"
                                   use="optional" default="false"/>
                    <xsd:attribute name="CombinePolicies" type="xsd:boolean"
                                   use="optional" default="true" />
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:oasis:names:tc:SAML:2.0:protocol"
                    xmlns:tns="urn:oasis:names:tc:SAML:2.0:protocol"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <!-- This it to get Axis to generate beans for the descriptor configuation and not used in the port type -->
            <xsd:import schemaLocation="xacml_pdp_descriptor_config.xsd"
                        namespace="http://www.globus.org/security/XACMLAuthorization"/>

            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any namespace="##any"/>
                    </xsd:sequence>
                    <xsd:attribute name="ID" type="xsd:ID" use="required"/>
                    <xsd:attribute name="InResponseTo" type="xsd:NCName" use="optional"/>
                    <xsd:attribute name="Version" type="xsd:string" use="required"/>
                    <xsd:attribute name="IssueInstant" type="xsd:dateTime" use="required"/>
                    <xsd:attribute name="Destination" type="xsd:anyURI" use="optional"/>
                    <xsd:attribute name="Consent" type="xsd:anyURI" use="optional"/>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>

    </wsdl:types>

    <wsdl:message name="AuthorizeInputMessage">
            <wsdl:part name="parameters"
                element="xacml-samlp:XACMLAuthzDecisionQuery"/>
    </wsdl:message>

    <wsdl:message name="AuthorizeOutputMessage">
		<wsdl:part name="parameters" element="saml-protocol:Response"/>
	</wsdl:message>
	<!--<wsdl:message name="XACMLAuthorizationFault">
		<wsdl:part name="XACMLAuthorizationFault"
			element="tns:XACMLAuthorizationFault">
		</wsdl:part>
	</wsdl:message>-->
    <wsdl:portType name="XACMLAuthorizationPortType">
		<wsdl:operation name="Authorize">
			<wsdl:input message="tns:AuthorizeInputMessage" />
			<wsdl:output message="tns:AuthorizeOutputMessage" />
    </wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
